


html(lang='en')
  head
    meta(charset='utf-8')
    title login ractica
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='practica-pulpomatic')
    meta(name='author', content='Saúl')
    include ./stylesheet/libs.jade
    block css
body
    .container
    block contenido

include ./scripts/libs.jade

block js