script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/jquery-ui/jquery-ui.min.js')
script(type='text/javascript', src='/js/personal.js')